---
import LibraryIcon from "../icons/Library.astro";
import HomeIcon from "../icons/Home.astro";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-800 rounded-lg p-2">
    <ul>
      <HomeIcon />
    </ul>
  </div>
  <LibraryIcon />
</nav>
